x-airflow-common: &airflow-common
  image: apache/airflow:2.9.2
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__WEBSERVER__SECRET_KEY: "mysupersecretkey123"   # you can replace this string with any random one
  volumes:
    - ./dags:/opt/airflow/dags
    - ./include:/opt/airflow/include
    - ./requirements.txt:/requirements.txt
  user: "${AIRFLOW_UID:-50000}:0"

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  redis:
    image: redis:7-alpine

  airflow-webserver:
    <<: *airflow-common
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    command: bash -lc "pip install --no-cache-dir -r /requirements.txt && airflow webserver"

  airflow-scheduler:
    <<: *airflow-common
    depends_on:
      - airflow-webserver
    command: bash -lc "pip install --no-cache-dir -r /requirements.txt && airflow scheduler"

  airflow-init:
    <<: *airflow-common
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    entrypoint: /bin/bash
    command: -c "airflow db init && airflow users create --username admin --password admin --firstname a --lastname a --role Admin --email admin@example.com"

